<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>博文详情-宣泄笔记个人博客</title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="public/css/base.css" rel="stylesheet">
<link href="public/css/style.css" rel="stylesheet">
<link href="public/css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="public/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav">
      <a href="index.php">首页</a>
      <a href="index.php?c=index&a=about">关于我</a>
      <a href="index.php?c=article&a=blog">博文</a>
      <a href="index.php?c=person&a=words">留言</a>
      {if (empty($_SESSION['id']))}
      <a href="index.php?c=user&a=login">登录</a>
      <a href="index.php?c=user&a=register">注册</a>
      {else}
      <span style="color: green;">欢迎回来：<span style="color: red;padding-right: 10px;">{$_SESSION['name']}</span>
      <a href="index.php?c=user&a=doOut" style="font-size: 16px;padding-right: 0;padding-left: 0;color: #fff;">退出</a>
      <a href="index.php?c=user&a=register">注册</a>
      {if ($_SESSION['udertype'])}
      <a href="index.php?c=admin&a=adminlogin" target="_blank">管理中心</a>
      {/if}
      {/if}
    </nav>
  </header>
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/"></a>博文详情<a href="1/"></a></h2>
    <div class="index_about">
      <h2 style="font-size: 20px;margin: 15px;color: {$detail[0]['style']}">{$detail[0]['title']}</h2>
      <p class="box_c"><span class="d_time">发布时间：{$detail[0]['sendtime']}</span><span><a href="index.php?c=article&a=style&id={$detail[0]['id']}">高亮</a></span><span><a href="index.php?c=article&a=cream&id={$detail[0]['id']}">精华</a></span><span><a href="index.php?c=article&a=recycle&id={$detail[0]['id']}">放入回收站</a></span></p>
      <ul class="infos">
        <p>&nbsp;&nbsp;&nbsp;{$detail[0]['content']}</p>
        <p><b></b></p>
        <p><img src="{$detail[0]['pic']}" alt=""></p>
      </ul>
      <div class="keybq">
        <p><span>关键字词</span>：博客，技术</p>
      </div>
      {if !empty($discuss)}
      {foreach $discuss as $value}
      <div class="teoot" style="font-size:14px; margin-top:10px;">
        <span style=" color: #0AABE1;">
          {if $value['id']%6 == 1}
          <img src="public/images/user.jpg" width="60px" height="60px" style="display: inline;padding-left: 20px;" />
          {/if}
          {if $value['id']%6 == 2}
          <img src="public/images/u1.jpg" width="60px" height="60px" style="display: inline;padding-left: 20px;" />
          {/if}
          {if $value['id']%6 == 3}
          <img src="public/images/u2.jpg" width="60px" height="60px" style="display: inline;padding-left: 20px;" />
          {/if}
          {if $value['id']%6 == 4}
          <img src="public/images/u3.jpg" width="60px" height="60px" style="display: inline;padding-left: 20px;" />
          {/if}
          {if $value['id']%6 == 5}
          <img src="public/images/u4.png" width="60px" height="60px" style="display: inline;padding-left: 20px;" />
          {/if}
          {if $value['id']%6 == 0}
          <img src="public/images/u5.jpg" width="60px" height="60px" style="display: inline;padding-left: 20px;" />
          {/if}
          {$value['name']} </span>
        <span> ： {$value['content']} </span><br />
        <span style="padding-left: 420px;">评论时间 ： {$value['sendtime']}</span>
      </div>
      <hr />
      {/foreach}

      {/if}
      <!-- 评论区 -->
      <form action="index.php?c=article&a=talk&id={$detail[0]['id']}" method="post">

        <div style="padding-left: 20px;margin-top: 60px;">
          <textarea cols="95" rows="15" name="content">这是发表评论的地方</textarea>
        </div>
        <div style="margin-bottom: 10px;">
          <input type="submit" name="talk" value="发表" style=" width:80px;height:30px;background:#00aaaa;margin-left: 40px; " />
        </div>
      </form>
      <!-- 评论区结束 -->
      <div class="nextinfo">
        <p>上一篇：<a href="/news/s/2013-09-04/606.html">程序员应该如何高效的工作学习</a></p>
        <p>下一篇：<a href="/news/s/2013-10-21/616.html">柴米油盐的生活才是真实</a></p>
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <li><a href="/news/s/2013-07-25/524.html" title="现在，我相信爱情！">现在，我相信爱情！</a></li>
          <li><a href="/newstalk/mood/2013-07-24/518.html" title="我希望我的爱情是这样的">我希望我的爱情是这样的</a></li>
          <li><a href="/newstalk/mood/2013-07-02/335.html" title="有种情谊，不是爱情，也算不得友情">有种情谊，不是爱情，也算不得友情</a></li>
          <li><a href="/newstalk/mood/2013-07-01/329.html" title="世上最美好的爱情">世上最美好的爱情</a></li>
          <li><a href="/news/read/2013-06-11/213.html" title="爱情没有永远，地老天荒也走不完">爱情没有永远，地老天荒也走不完</a></li>
          <li><a href="/news/s/2013-06-06/24.html" title="爱情的背叛者">爱情的背叛者</a></li>
        </ul>
      </div>
    </div>
  </article>
  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/">日记</a></li>
      <li class="rnav2 "><a href="/">欣赏</a></li>
      <li class="rnav3 "><a href="/">程序人生</a></li>
      <li class="rnav4 "><a href="/">经典语录</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        {if !empty($manyArticle)}
        {foreach $manyArticle as $value}
        <li><span class="num1">{$value['id']}</span><a href="index.php?c=article&a=details&id={$value['id']}">{$value['title']}</a></li>
        {/foreach}
        {/if}
      </ul>
      <h2>
        <p>栏目推荐</p>
      </h2>
      <ul>
        {if !empty($replyArticle)}
        {foreach $replyArticle as $value}
        <li><a href="index.php?c=article&a=details&id={$value['id']}">{$value['title']}</a></li>
        {/foreach}
        {/if}
      </ul>
      <h2>
        <p>最新评论</p>
      </h2>
      <ul class="pl_n">
        <dl>
          <dt><img src="public/images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="public/images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="public/images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8月7日</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="public/images/003.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="public/images/002.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
      <h2>
        <p>最近访客</p>
        <ul>
          <img src="public/images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
        </ul>
      </h2>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="public/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
